/*! Reset styles */
*,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.form-input:focus:valid {
    background-color: rgba( 0, 155, 0, 0.2);
    color: white;
}
.form-input:focus:invalid{
    background-color: rgba(155, 0, 0, 0.3);
    color: white;
}
.block-input:focus:valid {
    background-color: rgba( 0, 155, 0, 0.5);
    color: white;
}
.block-input:focus:invalid{
    background-color: rgba(155, 0, 0, 0.5);
    color: white;
}
.block-input{
    border: none;
    outline: none;
}
.form-input{
    border: none;
    outline: none;
}

button{
    border: none;
}
