:root {
    /* шрифти */
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
  /* кольори */
  --main_color: #012D63;
  --light_color: #FFFFFF;
  --shadow_light_color: #DCDCDC;
  --colorful: #8E32C6;
  --dark_color: #021635;
  --second_light_color: #9B9B9B;
  --shadow_color: #8D8D8D;


}
/* загальні */
body{
   width: 1440px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: var(--font-family);
   font-size: 14px;
   letter-spacing: 0.03em;
   font-weight: 700;
   background-color: var(--main_color);
   outline: 1px dashed red;
}

.container {
  outline: 1px dashed red;
}

/* текст */

.header-link{
font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: var(--shadow_light_color);
}
.span-link{
font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color:var(--shadow_light_color);
}

.hero-logo{
font-family: var(--third-family);
font-weight: 400;
font-size: 48px;
color: var(--light_color);
}
.hero-title{
font-family: var(--second-family);
font-weight: 400;
font-size: 144px;
color: var(--light_color);
}
.title-discription{
font-family: var(--second-family);
font-weight: 400;
font-size: 72px;
color: var(--light_color);
}
.hero-discription{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: var(--light_color);
}
.hero-link{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color:var(--light_color);
border-radius: 10px;
background-color: var(--colorful);
}
.wat-we-do-item{
font-family: var(--second-family);
font-weight: 400;
font-size: 36px;
text-align: center;
color: var(--light_color);
}
.reviews-title{
font-family: var(--second-family);
font-weight: 400;
font-size: 48px;
text-align: center;
color:var(--light_color);
}
.reviews-discription{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--light_color);
}
.date{
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color:var(--shadow_light_color);
}
.name{
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: var(--light_color);
}
.name-discription{
font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color:var(--shadow_light_color);
}
.order-title{
font-family: var(--second-family);
font-weight: 400;
font-size: 48px;
color:var(--light_color);
}
.input{
font-family: var(--font-family);
font-weight: 400;
font-size: 28px;
color: var(--shadow_light_color);
}
.input-button{
font-family: var(--font-family);
font-weight: 400;
font-size: 28px;
color: var(--shadow_light_color);
background-color: var(--light_color);
}
.order-link{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--light_color);
background-color: var(--colorful);
}
.footer-item{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: var(--light_color);
}
.email-item{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color:var(--light_color);
}
.info-item{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color:var(--light_color);
}

/* розташування */


.header-list{
display: flex;
gap: 20px;
padding-left: 100px;
}
.wat-we-do-list{
display: flex;
flex-direction: row;
justify-content: center;
}
.header{
    padding-top: 14px;
    padding-bottom: 16px;

}
.border{
  display: flex;
  justify-content: center;
  align-items: center;


}
.wat-we-do{
padding-top: 105px;
padding-bottom: 105px;
display: flex;
justify-content: center;
align-items: center;
}

.reviews{
    padding-top: 25px;
    padding-bottom: 114px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.order-section{
padding-top: 20px;
padding-bottom: 37px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;
column-gap: 30px;
}

.section-footer{
    padding-top: 45px;
    padding-bottom: 50px;
    margin-left: 165px;
    display: flex;
    column-gap: 374px;
    row-gap: 20px;
    flex-wrap: wrap;

}
.reviews-list{
display: flex;
gap: 94px;
}

/* псевдо-елементи */
.hero-logo::before{
width: 160px;
height: 120px;
display: flex;
content: "";
background-image: url(../image/hero-logo.png);
}
.wat-we-do-list{
gap: 145px;
}
/* картинки */
.hero-content{ 
width: 1440px;
height: 858px;
display: flex;
flex-direction: column;
padding-top: 94px;
padding-bottom: 184px;
justify-content: left;
background-image:url(../image/hero-background.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
outline: 1px solid red;
}

.wat-we-do-list :nth-child(1) ::before,
.wat-we-do-list :nth-child(3) ::before{
 width:240px;
 height: 240px;
 align-items: center;
 display: flex;
 content: "";

}
.wat-we-do-list :nth-child(2) ::after{
 width:240px;
 height: 240px;
 display: flex;
 align-items: center;
 content: "";
 background-image: url(../image/paints.svg);

}
.wat-we-do-list :nth-child(1) ::before{
    background-image: url(../image/star.svg);
}
.wat-we-do-list :nth-child(3) ::before{
    background-image: url(../image/truck.svg);
}



/* бордери */
.border{
    width: 1100px;
    height: 396px;
    border: 5px solid var(--colorful);
}
.reviews-item{
    width: 255px;
    height: 292px;
    border: 1px solid red;
}
.hero-link{
width: 254px;
height: 67px;
background-color: var(--colorful);
}